.Weather {
   margin: 20px;
}

.Weather ul {
    list-style: none;
}

.Weather .details{
 position: relative;
 left:350px;
 bottom: 30px;
 
}
.Weather .degrees{
    font-size: 50px;
    position: relative;
    left:400px;
    bottom: 60px;
}

.Weather .units{
    font-size: 15px;
    position: relative;
    bottom: 40px;

 }
.WeatherTemperature .temperature{
    font-size: 60px;
}

.Weather .description{
text-transform: capitalize;
right:230px;
margin-top: 5px;
}