.Weather {
   margin: 20px;
}

.Weather ul {
    list-style: none;
}

.Weather .details{
 position: relative;
 left:350px;
 bottom: 50px;
 
}
.Weather .temperature{
    position: relative;
    top: -20px;
    font-size: 80px;
}

.Weather .cityName{
 position: relative;
 right:200px;
}

.Weather .description{
text-transform: capitalize;
}